# ATMS 305: Homework 4

This assignment will be collected on October 3.

## Rationale of this assignment

One of the challenges of working with data is getting series lined up such that we can visualize them together, or perform statistical analysis on them so we can make predictive models using those data.

In your folder, I have given you a file that contains "normalized" indicies of the Pacific Data Oscillation, the North Atlantic Oscillaion, and the El Niño Southern Oscillation.  These data were downloaded from https://www.esrl.noaa.gov/psd/data/correlation/pdo.data.  These data are normalized such that the mean of the index is 0, and one standard deviation away from the mean is a value of 1 or -1 depending on the sign of the anomaly.  For example, in the El Niño index, a value of +1 is a value 1 standard deviation away from the mean.  We will discuss what this means quantitatively in future lectures, but between -1 and +1 in an index normalized in this way, approximately 68% of the data points fall within this range of values.  This normalization method provides a convenient way to compare data using probabilities rather than physical units (for example Sea Surface Temperature in degrees Celsius), which may have different ranges of values.

### Information about these files
These files are formatted in *fixed width format*, so `pd.read_table` will be the tool we will use here (`pd.read_csv` is for comma or space-delimited files), and there is some header and footer information.  You will have to use the `skipheader` and `skipfooter` keywords in `pd.read_table`, read http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html for documentation on how to use this function. 

In the data section the rows are the values of the index by year, and the columns are the month of year (January-December).  Missing values are given by the value in the row following the data table.

---

## Problem 1

a) Load the ENSO file `censo.data` using `pd.read_table`.  You'll need to take a look at the file to determine keywords such as `skipheader` and `skipfooter`. Print out the number of data months in the dataset (rows x columns).

In [30]:
import pandas as pd
df = pd.read_table('https://www.esrl.noaa.gov/psd/data/correlation/pdo.data', header = None, skiprows = 1,skipfooter = 4, sep='\s+',na_values=[-9.90])
df.columns = ['Year', 'January','February','March','April','May','June','July','August','September','October','November','December']
df

/home/nbuser/anaconda3_431/lib/python3.6/site-packages/ipykernel/__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

,Year,January,February,March,April,May,June,July,August,September,October,November,December
0,1948,-0.11,-0.74,-0.03,-1.33,-0.23,0.08,-0.92,-1.56,-1.74,-1.32,-0.89,-1.70
1,1949,-2.01,-3.60,-1.00,-0.53,-1.07,-0.70,-0.56,-1.30,-0.93,-1.41,-0.83,-0.80
2,1950,-2.13,-2.91,-1.13,-1.20,-2.23,-1.77,-2.93,-0.70,-2.14,-1.36,-2.46,-0.76
3,1951,-1.54,-1.06,-1.90,-0.36,-0.25,-1.09,0.70,-1.37,-0.08,-0.32,-0.28,-1.68
4,1952,-2.01,-0.46,-0.63,-1.05,-1.00,-1.43,-1.25,-0.60,-0.89,-0.35,-0.76,0.04
5,1953,-0.57,-0.07,-1.12,0.05,0.43,0.29,0.74,0.05,-0.63,-1.09,-0.03,0.07
6,1954,-1.32,-1.61,-0.52,-1.33,0.01,0.97,0.43,0.08,-0.94,0.52,0.72,-0.50
7,1955,0.20,-1.52,-1.26,-1.97,-1.21,-2.44,-2.35,-2.25,-1.95,-2.80,-3.08,-2.75
8,1956,-2.48,-2.74,-2.56,-2.17,-1.41,-1.70,-1.03,-1.16,-0.71,-2.30,-2.11,-1.28
9,1957,-1.82,-0.68,0.03,-0.58,0.57,1.76,0.72,0.51,1.59,1.50,-0.32,-0.55
10,1958,0.25,0.62,0.25,1.06,1.28,1.33,0.89,1.06,0.29,0.01,-0.18,0.86
11,1959,0.69,-0.43,-0.95,-0.02,0.23,0.44,-0.50,-0.62,-0.85,0.52,1.11,0.06
12,1960,0.30,0.52,-0.21,0.09,0.91,0.64,-0.27,-0.38,-0.94,0.09,-0.23,0.17
13,1961,1.18,0.43,0.09,0.34,-0.06,-0.61,-1.22,-1.13,-2.01,-2.28,-1.85,-2.69
14,1962,-1.29,-1.15,-1.42,-0.80,-1.22,-1.62,-1.46,-0.48,-1.58,-1.55,-0.37,-0.96
15,1963,-0.33,-0.16,-0.54,-0.41,-0.65,-0.88,-1.00,-1.03,0.45,-0.52,-2.08,-1.08
16,1964,0.01,-0.21,-0.87,-1.03,-1.91,-0.32,-0.51,-1.03,-0.68,-0.37,-0.80,-1.52
17,1965,-1.24,-1.16,0.04,0.62,-0.66,-0.80,-0.47,0.20,0.59,-0.36,-0.59,0.06
18,1966,-0.82,-0.03,-1.29,0.06,-0.53,0.16,0.26,-0.35,-0.33,-1.17,-1.15,-0.32
19,1967,-0.20,-0.18,-1.20,-0.89,-1.24,-1.16,-0.89,-1.24,-0.72,-0.64,-0.05,-0.40
20,1968,-0.95,-0.40,-0.31,-1.03,-0.53,-0.35,0.53,0.19,0.06,-0.34,-0.44,-1.27
21,1969,-1.26,-0.95,-0.50,-0.44,-0.20,0.89,0.10,-0.81,-0.66,1.12,0.15,1.38
22,1970,0.61,0.43,1.33,0.43,-0.49,0.06,-0.68,-1.63,-1.67,-1.39,-0.80,-0.97
23,1971,-1.90,-1.74,-1.68,-1.59,-1.55,-1.55,-2.20,-0.15,0.21,-0.22,-1.25,-1.87
24,1972,-1.99,-1.83,-2.09,-1.65,-1.57,-1.87,-0.83,0.25,0.17,0.11,0.57,-0.33
25,1973,-0.46,-0.61,-0.50,-0.69,-0.76,-0.97,-0.57,-1.14,-0.51,-0.87,-1.81,-0.76
26,1974,-1.22,-1.65,-0.90,-0.52,-0.28,-0.31,-0.08,0.27,0.44,-0.10,0.43,-0.12
27,1975,-0.84,-0.71,-0.51,-1.30,-1.02,-1.16,-0.40,-1.07,-1.23,-1.29,-2.08,-1.61
28,1976,-1.14,-1.85,-0.96,-0.89,-0.68,-0.67,0.61,1.28,0.82,1.11,1.25,1.22
29,1977,1.65,1.11,0.72,0.30,0.31,0.42,0.19,0.64,-0.55,-0.61,-0.72,-0.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,1988,0.93,1.24,1.42,0.94,1.20,0.74,0.64,0.19,-0.37,-0.10,-0.02,-0.43
41,1989,-0.95,-1.02,-0.83,-0.32,0.47,0.36,0.83,0.09,0.05,-0.12,-0.50,-0.21
42,1990,-0.30,-0.65,-0.62,0.27,0.44,0.44,0.27,0.11,0.38,-0.69,-1.69,-2.23
43,1991,-2.02,-1.19,-0.74,-1.01,-0.51,-1.47,-0.10,0.36,0.65,0.49,0.42,0.09
44,1992,0.05,0.31,0.67,0.75,1.54,1.26,1.90,1.44,0.83,0.93,0.93,0.53
45,1993,0.05,0.19,0.76,1.21,2.13,2.34,2.35,2.69,1.56,1.41,1.24,1.07
46,1994,1.21,0.59,0.80,1.05,1.23,0.46,0.06,-0.79,-1.36,-1.32,-1.96,-1.79
47,1995,-0.49,0.46,0.75,0.83,1.46,1.27,1.71,0.21,1.16,0.47,-0.28,0.16
48,1996,0.59,0.75,1.01,1.46,2.18,1.10,0.77,-0.14,0.24,-0.33,0.09,-0.03
49,1997,0.23,0.28,0.65,1.05,1.83,2.76,2.35,2.79,2.19,1.61,1.12,0.67
50,1998,0.83,1.56,2.01,1.27,0.70,0.40,-0.04,-0.22,-1.21,-1.39,-0.52,-0.44
51,1999,-0.32,-0.66,-0.33,-0.41,-0.68,-1.30,-0.66,-0.96,-1.53,-2.23,-2.05,-1.63
52,2000,-2.00,-0.83,0.29,0.35,-0.05,-0.44,-0.66,-1.19,-1.24,-1.30,-0.53,0.52
53,2001,0.60,0.29,0.45,-0.31,-0.30,-0.47,-1.31,-0.77,-1.37,-1.37,-1.26,-0.93
54,2002,0.27,-0.64,-0.43,-0.32,-0.63,-0.35,-0.31,0.60,0.43,0.42,1.51,2.10
55,2003,2.09,1.75,1.51,1.18,0.89,0.68,0.96,0.88,0.01,0.83,0.52,0.33
56,2004,0.43,0.48,0.61,0.57,0.88,0.04,0.44,0.85,0.75,-0.11,-0.63,-0.17
57,2005,0.44,0.81,1.36,1.03,1.86,1.17,0.66,0.25,-0.46,-1.32,-1.50,0.20
58,2006,1.03,0.66,0.05,0.40,0.48,1.04,0.35,-0.65,-0.94,-0.05,-0.22,0.14
59,2007,0.01,0.04,-0.36,0.16,-0.10,0.09,0.78,0.50,-0.36,-1.45,-1.08,-0.58
60,2008,-1.00,-0.77,-0.71,-1.52,-1.37,-1.34,-1.67,-1.70,-1.55,-1.76,-1.25,-0.87
61,2009,-1.40,-1.55,-1.59,-1.65,-0.88,-0.31,-0.53,0.09,0.52,0.27,-0.40,0.08
62,2010,0.83,0.82,0.44,0.78,0.62,-0.22,-1.05,-1.27,-1.61,-1.06,-0.82,-1.21
63,2011,-0.92,-0.83,-0.69,-0.42,-0.37,-0.69,-1.86,-1.74,-1.79,-1.34,-2.33,-1.79
64,2012,-1.38,-0.85,-1.05,-0.27,-1.26,-0.87,-1.52,-1.93,-2.21,-0.79,-0.59,-0.48
65,2013,-0.13,-0.43,-0.63,-0.16,0.08,-0.78,-1.25,-1.04,-0.48,-0.87,-0.11,-0.41
66,2014,0.30,0.38,0.97,1.13,1.80,0.82,0.70,0.67,1.08,1.49,1.72,2.51
67,2015,2.45,2.30,2.00,1.44,1.20,1.54,1.84,1.56,1.94,1.47,0.86,1.01
68,2016,1.53,1.75,2.40,2.62,2.35,2.03,1.25,0.52,0.45,0.56,1.88,1.17
69,2017,0.77,0.70,0.74,1.12,0.88,0.79,0.10,NaN,NaN,NaN,NaN,NaN

b) Create a new data frame called `enso_tser` where there is only one data column.  You can use `df.drop([colname],axis=1)` to get rid of column 1, and then `df.stack()` to reshape.

In [31]:
df1 = df.drop(['Year'], axis =1).stack(dropna = False)
df1.rename('enso_tser')

0   January     -0.11
    February    -0.74
    March       -0.03
    April       -1.33
    May         -0.23
    June         0.08
    July        -0.92
    August      -1.56
    September   -1.74
    October     -1.32
    November    -0.89
    December    -1.70
1   January     -2.01
    February    -3.60
    March       -1.00
    April       -0.53
    May         -1.07
    June        -0.70
    July        -0.56
    August      -1.30
    September   -0.93
    October     -1.41
    November    -0.83
    December    -0.80
2   January     -2.13
    February    -2.91
    March       -1.13
    April       -1.20
    May         -2.23
    June        -1.77
                 ...
67  July         1.84
    August       1.56
    September    1.94
    October      1.47
    November     0.86
    December     1.01
68  January      1.53
    February     1.75
    March        2.40
    April        2.62
    May          2.35
    June         2.03
    July         1.25
    August       0.52
    September    0.45
    October      0.56
    November     1.88
    December     1.17
69  January      0.77
    February     0.70
    March        0.74
    April        1.12
    May          0.88
    June         0.79
    July         0.10
    August        NaN
    September     NaN
    October       NaN
    November      NaN
    December      NaN
Name: enso_tser, dtype: float64

In [40]:
df1.reset_index()

     level_0    level_1     0
0          0    January -0.11
1          0   February -0.74
2          0      March -0.03
3          0      April -1.33
4          0        May -0.23
5          0       June  0.08
6          0       July -0.92
7          0     August -1.56
8          0  September -1.74
9          0    October -1.32
10         0   November -0.89
11         0   December -1.70
12         1    January -2.01
13         1   February -3.60
14         1      March -1.00
15         1      April -0.53
16         1        May -1.07
17         1       June -0.70
18         1       July -0.56
19         1     August -1.30
20         1  September -0.93
21         1    October -1.41
22         1   November -0.83
23         1   December -0.80
24         2    January -2.13
25         2   February -2.91
26         2      March -1.13
27         2      April -1.20
28         2        May -2.23
29         2       June -1.77
..       ...        ...   ...
810       67       July  1.84
811       67     August  1.56
812       67  September  1.94
813       67    October  1.47
814       67   November  0.86
815       67   December  1.01
816       68    January  1.53
817       68   February  1.75
818       68      March  2.40
819       68      April  2.62
820       68        May  2.35
821       68       June  2.03
822       68       July  1.25
823       68     August  0.52
824       68  September  0.45
825       68    October  0.56
826       68   November  1.88
827       68   December  1.17
828       69    January  0.77
829       69   February  0.70
830       69      March  0.74
831       69      April  1.12
832       69        May  0.88
833       69       June  0.79
834       69       July  0.10
835       69     August   NaN
836       69  September   NaN
837       69    October   NaN
838       69   November   NaN
839       69   December   NaN

[840 rows x 3 columns]

c) Use `pd.date_range` to create a column `time`, which is in datetime format, that corresponds to the time in the data file.  Set the index of the time series to `time` using `df.set_index("time", inplace=True)`.

In [44]:
import numpy as np
import pandas as pd
time = pd.date_range(start = '01.01.1948',end ='1.1.2018', freq = 'M')
df1.index = time
df1
#df1.reindex('time')
#df1 = df1.set_index('time')

1948-01-31   -0.11
1948-02-29   -0.74
1948-03-31   -0.03
1948-04-30   -1.33
1948-05-31   -0.23
1948-06-30    0.08
1948-07-31   -0.92
1948-08-31   -1.56
1948-09-30   -1.74
1948-10-31   -1.32
1948-11-30   -0.89
1948-12-31   -1.70
1949-01-31   -2.01
1949-02-28   -3.60
1949-03-31   -1.00
1949-04-30   -0.53
1949-05-31   -1.07
1949-06-30   -0.70
1949-07-31   -0.56
1949-08-31   -1.30
1949-09-30   -0.93
1949-10-31   -1.41
1949-11-30   -0.83
1949-12-31   -0.80
1950-01-31   -2.13
1950-02-28   -2.91
1950-03-31   -1.13
1950-04-30   -1.20
1950-05-31   -2.23
1950-06-30   -1.77
              ...
2015-07-31    1.84
2015-08-31    1.56
2015-09-30    1.94
2015-10-31    1.47
2015-11-30    0.86
2015-12-31    1.01
2016-01-31    1.53
2016-02-29    1.75
2016-03-31    2.40
2016-04-30    2.62
2016-05-31    2.35
2016-06-30    2.03
2016-07-31    1.25
2016-08-31    0.52
2016-09-30    0.45
2016-10-31    0.56
2016-11-30    1.88
2016-12-31    1.17
2017-01-31    0.77
2017-02-28    0.70
2017-03-31    0.74
2017-04-30    1.12
2017-05-31    0.88
2017-06-30    0.79
2017-07-31    0.10
2017-08-31     NaN
2017-09-30     NaN
2017-10-31     NaN
2017-11-30     NaN
2017-12-31     NaN
Freq: M, dtype: float64

d) Repeat for all 3 of the data files, and save the files to csv format using `pd.to_csv`.

In [ ]:
pd.date_range?

## Problem 2

a) Read in all of the data in problem 1, and combine all of the data into one large pandas dataframe, with each index labeled with the index you have.

b) Create a python code that creates a "contingency table" that has rows containing the frequency of positive and negative anomalies for each of the index values related to each other.

For example:
```
       | PDO + | PDO - |
ENSO + | # mos | # mos |
ENSO - | # mos | # mos | 
```

Use the resources here to help solve the problem:

http://stackoverflow.com/questions/29901436/is-there-a-pythonic-way-to-do-a-contingency-table-in-pandas

http://chrisalbon.com/python/pandas_crosstabs.html