# Module 05: Review and Formatting

In [1]:
import numpy as np
import pandas as pd

## What's a variable?

In [2]:
x = 'hello'
print('hello')

hello

In [3]:
x

'hello'

## How to print in Jupyter?

In [4]:
print(x)
x

hello

'hello'

## Basic types: String? Integer? Float?

In [5]:
astr = 'yellow'
another_str = "yellow"
aint = 4
another2_str = str(aint)
multiple_line_str = """
asgashdsj
sdajfdfsjfdjjsfjdsjfsdj
fsjfdsjsdfj
"""

afloat = 10.2

In [6]:
a = 10.
b = '45'
c = 1337

## Higher level types: Tuple? List? Dictionary?

In [7]:
atup = (1, 2)
alist = [5, 5, 6, 7]
adict = {'key1': [6, 3], 'key2': [5, 4]}

In [8]:
atup_of_lists = ()
atup_of_lists2 = (4)
atup_of_lists3 = (4,)
alist_of_tups = []
adict_of_lists_and_tups = {}
print(type(atup_of_lists))
print(type(atup_of_lists2))
print(type(atup_of_lists3))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

in pandas, () will give you a series and dot values gives you nd.ararys

## How to check the type?

In [9]:
type(atup)

tuple

## Subscript/slice/subselect/reverse

In [10]:
atup_sub = atup[0]
alist_sub = alist[2:3]
adict_sub = adict['key1']

## Other types: np.array?, pd.DataFrame?

In [11]:
nparr = np.array(alist)
pddf = pd.DataFrame(adict)

## One big difference between np.array and lists

In [12]:
alist_aint = alist * aint
nparr_aint = nparr * aint

In [13]:
print(alist_aint)
print(nparr_aint)

[5, 5, 6, 7, 5, 5, 6, 7, 5, 5, 6, 7, 5, 5, 6, 7]
[20 20 24 28]

## Format a string!

In [14]:
floatlist = [0.,6.,7.,4.,6.]
afloat_fmt = '{0:0.2f} {0:0.2f} {0:0.2f} {0:0.2f} {0:0.2f}'.format(*floatlist)
aint_fmt = '{0:5d}'.format(aint)
astr_fmt = '{0}'.format(astr)
print(afloat_fmt)
print(aint_fmt)
print(astr_fmt)
#For more visit https://docs.python.org/3/library/string.html#string-formatting

0.00 0.00 0.00 0.00 0.00
    4
yellow

In [15]:
#https://docs.python.org/3/library/string.html#string-formatting
width = 5
for num in range(5,12): 
    for base in 'dXob':
        print('{0:{width}{base}}'.format(num, base=base, width=width), end=' ')
    print()

    5     5     5   101
    6     6     6   110
    7     7     7   111
    8     8    10  1000
    9     9    11  1001
   10     A    12  1010
   11     B    13  1011


### 1. Sorting a dictionary, printing formatted values.

Write a python script to sort the annual-average global temperature anomaly values (contained in `aravg.ann.land_ocean.90S.90N.v4.0.1.201612.asc.txt` in into a new dictionary in descending order.

The script should print the top 10 warmest years to a file called 'top10warmest.txt', including all of the following information:

The output should look like this:
```
Ranking      Year     Temperature Anomaly (degrees C)      Temperature Anomaly (degrees F)
1.           1745     10.0                                 28.0
2. (etc.)
```

In [16]:
df = pd.read_csv('aravg.ann.land_ocean.90S.90N.v4.0.1.201612.asc.txt', header = None, sep='   ')
lines = df.sort_values([1,0], ascending = False)

tempc = lines[1] + 15.1 
tempf = lines[1]*1.8 + 32.0 + 57.2

for i in range(10):
    tempstr = '{1:>2d}.           {0:2d}     {2:1.2f}                                 {3:4.1f}'
    
    floatlist = [i+1, lines[0][i], tempc[i], tempf[i]]
    print(tempstr.format(*floatlist))

1880.            1     14.74                                 88.6
1881.            2     14.79                                 88.6
1882.            3     14.79                                 88.6
1883.            4     14.71                                 88.5
1884.            5     14.65                                 88.4
1885.            6     14.64                                 88.4
1886.            7     14.65                                 88.4
1887.            8     14.61                                 88.3
1888.            9     14.71                                 88.5
1889.           10     14.76                                 88.6

/home/nbuser/anaconda3_410/lib/python3.5/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':