# Module 05: Review and Formatting

In [1]:
import numpy as np
import pandas as pd

## What's a variable?

In [2]:
x = 'hello'
print('hello')

hello

In [3]:
x

'hello'

## How to print in Jupyter?

In [4]:
print(x)
x

hello

'hello'

## Basic types: String? Integer? Float?

In [5]:
astr = 'yellow'
another_str = "yellow"
aint = 4
another2_str = str(aint)
multiple_line_str = """
asgashdsj
sdajfdfsjfdjjsfjdsjfsdj
fsjfdsjsdfj
"""

afloat = 10.2

In [6]:
a = 10.
b = '45'
c = 1337

## Higher level types: Tuple? List? Dictionary?

In [7]:
atup = (1, 2)
alist = [5, 5, 6, 7]
adict = {'key1': [6, 3], 'key2': [5, 4]}

In [8]:
atup_of_lists = ()
atup_of_lists2 = (4)
atup_of_lists3 = (4,)
alist_of_tups = []
adict_of_lists_and_tups = {}
print(type(atup_of_lists))
print(type(atup_of_lists2))
print(type(atup_of_lists3))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

in pandas, () will give you a series and dot values gives you nd.ararys

## How to check the type?

In [9]:
type(atup)

tuple

## Subscript/slice/subselect/reverse

In [10]:
atup_sub = atup[0]
alist_sub = alist[2:3]
adict_sub = adict['key1']

## Other types: np.array?, pd.DataFrame?

In [11]:
nparr = np.array(alist)
pddf = pd.DataFrame(adict)

## One big difference between np.array and lists

In [12]:
alist_aint = alist * aint
nparr_aint = nparr * aint

In [13]:
print(alist_aint)
print(nparr_aint)

[5, 5, 6, 7, 5, 5, 6, 7, 5, 5, 6, 7, 5, 5, 6, 7]
[20 20 24 28]

## Format a string!

In [17]:
floatlist = [0.,6.,7.,4.,6.]
afloat_fmt = '{0:0.2f} {0:0.2f} {0:0.2f} {0:0.2f} {0:0.2f}'.format(*floatlist)
aint_fmt = '{0:5d}'.format(aint)
astr_fmt = '{0}'.format(astr)
print(afloat_fmt)
#For more visit https://docs.python.org/3/library/string.html#string-formatting

0.00 0.00 0.00 0.00 0.00

In [18]:
#https://docs.python.org/3/library/string.html#string-formatting
width = 5
for num in range(5,12): 
    for base in 'dXob':
        print('{0:{width}{base}}'.format(num, base=base, width=width), end=' ')
    print()

    5     5     5   101
    6     6     6   110
    7     7     7   111
    8     8    10  1000
    9     9    11  1001
   10     A    12  1010
   11     B    13  1011


### 1. Sorting a dictionary, printing formatted values.

Write a python script to sort the annual-average global temperature anomaly values (contained in `aravg.ann.land_ocean.90S.90N.v4.0.1.201612.asc.txt` in into a new dictionary in descending order.

The script should print the top 10 warmest years to a file called 'top10warmest.txt', including all of the following information:

The output should look like this:
```
Ranking      Year     Temperature Anomaly (degrees C)      Temperature Anomaly (degrees F)
1.           1745     10.0                                 28.0
2. (etc.)
```

In [35]:
df = pd.read_csv('aravg.ann.land_ocean.90S.90N.v4.0.1.201612.asc.txt', header = None, sep='   ')
lines = df.sort_values([1,0], ascending = False)

tempc = lines[i] + 15. 
tempf = 

for i in range(10):
    tempstr = '{0:i}           {0:i}     {0:2.0f}                                 {0:2.0f}'

/home/nbuser/anaconda3_410/lib/python3.5/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

        0         1         2         3         4         5
136  2016  0.690951  0.005897  0.000180  0.000002  0.005715
135  2015  0.654480  0.005897  0.000180  0.000002  0.005715
134  2014  0.495471  0.005897  0.000180  0.000002  0.005715
130  2010  0.456035  0.005873  0.000180  0.000002  0.005691
133  2013  0.422519  0.005897  0.000180  0.000002  0.005715
125  2005  0.413196  0.005988  0.000846  0.000002  0.005139
129  2009  0.391374  0.005832  0.000180  0.000002  0.005651
118  1998  0.389096  0.004063  0.000306  0.000002  0.003755
132  2012  0.378706  0.005910  0.000180  0.000002  0.005728
123  2003  0.368062  0.005153  0.000418  0.000002  0.004733
126  2006  0.367114  0.006709  0.001406  0.000002  0.005300
127  2007  0.364671  0.006942  0.001492  0.000002  0.005448
122  2002  0.356931  0.004976  0.000440  0.000002  0.004535
131  2011  0.333460  0.005895  0.000180  0.000002  0.005713
124  2004  0.332990  0.005798  0.000865  0.000002  0.004931
121  2001  0.301966  0.004659  0.000326  0.000002  0.004331
128  2008  0.296598  0.006250  0.000683  0.000002  0.005565
117  1997  0.273332  0.003721  0.000103  0.000003  0.003615
115  1995  0.212412  0.003565  0.000065  0.000005  0.003496
119  1999  0.198506  0.004403  0.000488  0.000002  0.003913
110  1990  0.187487  0.003395  0.000050  0.000008  0.003337
120  2000  0.180884  0.004584  0.000466  0.000001  0.004117
111  1991  0.160126  0.003347  0.000025  0.000007  0.003315
108  1988  0.130362  0.003611  0.000099  0.000010  0.003501
107  1987  0.124229  0.003701  0.000145  0.000012  0.003544
103  1983  0.095712  0.003492  0.000025  0.000015  0.003452
114  1994  0.095534  0.003523  0.000069  0.000006  0.003448
116  1996  0.077443  0.003659  0.000107  0.000004  0.003549
101  1981  0.054510  0.003058  0.000025  0.000014  0.003019
109  1989  0.051671  0.003579  0.000118  0.000009  0.003452
..    ...       ...       ...       ...       ...       ...
38   1918 -0.453714  0.008369  0.000142  0.000009  0.008218
40   1920 -0.455879  0.008982  0.000408  0.000006  0.008568
5    1885 -0.457826  0.009687  0.001395  0.000939  0.007353
43   1923 -0.460941  0.010323  0.000982  0.000006  0.009336
26   1906 -0.462693  0.008677  0.000074  0.000222  0.008380
15   1895 -0.474304  0.008388  0.000055  0.001016  0.007317
42   1922 -0.475776  0.009347  0.000369  0.000006  0.008973
53   1933 -0.489210  0.011837  0.000287  0.000012  0.011538
22   1902 -0.491674  0.008631  0.000113  0.000536  0.007982
44   1924 -0.493936  0.010584  0.000893  0.000007  0.009685
7    1887 -0.494233  0.009668  0.001395  0.000969  0.007304
11   1891 -0.498518  0.008694  0.000312  0.001055  0.007327
18   1898 -0.499962  0.008386  0.000050  0.000822  0.007513
14   1894 -0.526128  0.008475  0.000129  0.001057  0.007289
36   1916 -0.538292  0.008156  0.000132  0.000016  0.008007
25   1905 -0.538421  0.008678  0.000131  0.000293  0.008255
49   1929 -0.543854  0.011893  0.000754  0.000006  0.011134
12   1892 -0.551539  0.008599  0.000206  0.001071  0.007321
37   1917 -0.559888  0.008236  0.000109  0.000013  0.008114
33   1913 -0.561557  0.007955  0.000025  0.000026  0.007904
13   1893 -0.566514  0.008469  0.000100  0.001073  0.007296
10   1890 -0.567318  0.008616  0.000259  0.001029  0.007329
32   1912 -0.574187  0.008045  0.000025  0.000031  0.007990
23   1903 -0.582231  0.008863  0.000335  0.000457  0.008071
27   1907 -0.615936  0.008826  0.000233  0.000161  0.008433
30   1910 -0.624261  0.008322  0.000025  0.000045  0.008251
24   1904 -0.664719  0.008868  0.000330  0.000373  0.008165
29   1909 -0.671458  0.008504  0.000082  0.000069  0.008353
31   1911 -0.678564  0.008170  0.000025  0.000036  0.008110
28   1908 -0.684934  0.009014  0.000498  0.000109  0.008407

[137 rows x 6 columns]